# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
reaper_csurf_integrator.xcodeproj/project.xcworkspace/
reaper_csurf_integrator.xcodeproj/xcuserdata/
reaper_csurf_integrator.xcodeproj/xcshareddata/xcschemes/reaper_csurf_integrator.xcscheme
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/FileContentIndex/6636ca1f-ba2d-4e4b-b22a-9042987b7fd2.vsidx
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/v17/.suo
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/v17/Browse.VC.db
Windows/reaper_csurf_integrator/.vs/reaper_csurf_integrator/v17/ipch/AutoPCH/644411e3b4360a29/CONTROL_SURFACE_INTEGRATOR.ipch
Windows/reaper_csurf_integrator/reaper_csurf_integrator/reaper_csurf_integrator.vcxproj
Windows/reaper_csurf_integrator/reaper_csurf_integrator/reaper_csurf_integrator.vcxproj
Windows/reaper_csurf_integrator/reaper_csurf_integrator/reaper_csurf_integrator.vcxproj.filters
reaper_csurf_integrator/res.rc_mac_dlg
reaper_csurf_integrator/res.rc_mac_menu
Windows/VS2005/reaper_csurf_integrator.ncb
Windows/VS2005/reaper_csurf_integrator.suo
Windows/VS2005/reaper_csurf_integrator.vcproj.GEOFFWADDIN1F32.geoffwaddington.user
Windows/VS2005/reaper_csurf_integrator.vcproj.user
reaper_csurf_integrator/res.aps
Windows/VS2005/x64/Release/BuildLog.htm
Windows/VS2005/x64/Release/mt.dep
Windows/VS2005/x64/Release/reaper_csurf_integrator.dll.embed.manifest
Windows/VS2005/x64/Release/reaper_csurf_integrator.dll.embed.manifest.res
Windows/VS2005/x64/Release/reaper_csurf_integrator.dll.intermediate.manifest
Windows/VS2005/x64/Release/reaper_csurf_integrator.exp
Windows/VS2005/x64/Release/reaper_csurf_integrator.pdb
Windows/VS2005/x64/Release/res.res
Windows/VS2005/x64/Release/vc80.idb
Windows/VS2005/x64/Release/vc80.pdb
Windows/VS2005/.vs/reaper_csurf_integrator/FileContentIndex/3f54d549-5ea0-4fcc-b8d3-27012481c204.vsidx
Windows/VS2005/.vs/reaper_csurf_integrator/v17/.suo
Windows/VS2005/.vs/reaper_csurf_integrator/v17/Browse.VC.db
Windows/VS2005/reaper_csurf_integrator.vcxproj.filters
Windows/VS2005/reaper_csurf_integrator.vcxproj.user
Windows/VS2005/UpgradeLog.htm
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/CL.command.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/Cl.items.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/CL.read.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/CL.write.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/link.command.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/link.read.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/link.write.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/link.write.2u.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/rc.command.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/rc.read.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/rc.write.1.tlog
Windows/VS2005/x64/Release/reaper_c.0C5F4424.tlog/reaper_csurf_integrator.lastbuildstate
Windows/VS2005/x64/Release/reaper_csurf_integrator.Build.CppClean.log
Windows/VS2005/x64/Release/reaper_csurf_integrator.dll.recipe
Windows/VS2005/x64/Release/reaper_csurf_integrator.log
Windows/VS2005/x64/Release/reaper_csurf_integrator.vcxproj.FileListAbsolute.txt
Windows/VS2005/x64/Release/vc143.pdb
reaper_csurf_integrator.xcodeproj/project.pbxproj
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/task-store.msgpack
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/target-graph.txt
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/manifest.json
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/description.msgpack
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/build-request.json
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/attachments/e88b7750deaa1799215ac7090a23c7a9
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/attachments/d19ad9fd01924d36088da2abf7775f39
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/attachments/a7e096b12d92751d4c836f4fe94f68f3
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/attachments/7daafceedb7206019e21dfa51e254d60
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/attachments/7cd1d91fffa8cd36f8a2861ee0300d16
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/attachments/2cdff716e3841f14742fc188ac7428f5
build/XCBuildData/d066e6dcb54cc034c3199253fc8c9f89.xcbuilddata/attachments/1b845e19ac4e5ee3652d193aa0376e0d
build/XCBuildData/build.db
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/task-store.msgpack
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/target-graph.txt
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/manifest.json
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/description.msgpack
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/build-request.json
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/attachments/e88b7750deaa1799215ac7090a23c7a9
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/attachments/a7e096b12d92751d4c836f4fe94f68f3
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/attachments/7daafceedb7206019e21dfa51e254d60
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/attachments/7cd1d91fffa8cd36f8a2861ee0300d16
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/attachments/2cdff716e3841f14742fc188ac7428f5
build/XCBuildData/be532873ded82c47936f81072e3602bf.xcbuilddata/attachments/1b845e19ac4e5ee3652d193aa0376e0d
build/Release/reaper_csurf_integrator.dylib.dSYM/Contents/Resources/Relocations/aarch64/reaper_csurf_integrator.dylib.yml
build/Release/reaper_csurf_integrator.dylib.dSYM/Contents/Info.plist
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/Script-3338EAB12B771163004A7DB1.sh
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/reaper_csurf_integrator.hmap
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/reaper_csurf_integrator.dylib.xcent.der
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/reaper_csurf_integrator.dylib.xcent
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/reaper_csurf_integrator.DependencyMetadataFileList
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/reaper_csurf_integrator-project-headers.hmap
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/reaper_csurf_integrator-own-target-headers.hmap
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/reaper_csurf_integrator-generated-files.hmap
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/reaper_csurf_integrator-all-target-headers.hmap
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/reaper_csurf_integrator-all-non-framework-target-headers.hmap
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/Objects-normal/arm64/swell-modstub.dia
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/Objects-normal/arm64/reaper_csurf_integrator_dependency_info.dat
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/Objects-normal/arm64/reaper_csurf_integrator.LinkFileList
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/Objects-normal/arm64/main.dia
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/Objects-normal/arm64/control_surface_integrator_ui.dia
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/Objects-normal/arm64/control_surface_integrator.dia
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/Objects-normal/arm64/af3fcb34312c57c0f52879cdce924b91-common-args.resp
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/Objects-normal/arm64/82b82416624d2658e5098eb0a28c15c5-common-args.resp
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator.build/DerivedSources/Entitlements.plist
build/reaper_csurf_integrator.build/Release/reaper_csurf_integrator-0c8f3aa7bd80dc2228fee6ac50e46c26-VFS/all-product-headers.yaml
build/EagerLinkingTBDs/Release/reaper_csurf_integrator.tbd
.DS_Store
