# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
*.log

reaper_csurf_integrator/res.rc_mac_dlg
reaper_csurf_integrator/res.rc_mac_menu
reaper_csurf_integrator/res.aps
cmake-build-win64/
build/
.DS_Store
WDL/
lib/
.vs/
