# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
*.log

reaper_csurf_integrator/res.rc_mac_dlg
reaper_csurf_integrator/res.rc_mac_menu
reaper_csurf_integrator/res.aps
cmake-build-win64/
build/
.DS_Store
WDL/
lib/
.vs/
reaper_csurf_integrator.xcodeproj/xcuserdata/christopherreis.xcuserdatad/xcschemes/xcschememanagement.plist
reaper_csurf_integrator.xcodeproj/xcshareddata/xcschemes/reaper_csurf_integrator.xcscheme
reaper_csurf_integrator.xcodeproj/project.xcworkspace/xcuserdata/christopherreis.xcuserdatad/WorkspaceSettings.xcsettings
reaper_csurf_integrator.xcodeproj/project.xcworkspace/xcuserdata/christopherreis.xcuserdatad/UserInterfaceState.xcuserstate
reaper_csurf_integrator.xcodeproj/project.xcworkspace/contents.xcworkspacedata
reaper_csurf_integrator.xcodeproj/project.pbxproj
